.home a {
  text-decoration: none;
  color: black;
}

.hero {
  width: 100%;
  height: 65vh;
  position: relative;
}

.hero-div {
  background-color: white;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  padding: 2vh;
  height: 20vh;
  width: 50vw;
  max-width: 360px;
}

.hero-div p {
  font-size: 2rem;
  font-weight: 500;
}

.hero-div button {
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  height: 45px;
  outline: none;
  cursor: pointer;
}
.hero img:first-child {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-tear {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
}

.home-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  cursor: pointer;
  padding: 0 5px 15px;
  width: 235px;
  margin-bottom: 30px;
  margin-right: 15px;
}

.card img {
  object-fit: cover;
  width: 235px;
  height: 365px;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  object-fit: cover;
}

.user span {
  color: #999;
  font-size: 12px;
}

.details {
  display: flex;
  flex-direction: column;
}
.details span:first-child {
  font-size: 14px;
}

.details p {
  margin-top: px;
  font-size: 12px;
  color: #999;
}

.mainOffer {
  background-color: #ebedee;
  height: calc(100vh - 140px);
}

.mainOffer .container {
  width: 1280px;
}

.offer {
  display: flex;
  justify-content: space-around;
}

.offer img {
  height: 600px;
  object-fit: cover;
  margin-top: 40px;
}

.offer-info {
  width: 320px;
  background-color: white;
  padding: 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer-info img {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.pages-buttons {
  margin-bottom: 30px;
}

.pages-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2cb1ba;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.pages-buttons button:first-child {
  margin-right: 5px;
}

.pages-buttons button:last-child {
  margin-left: 5px;
}
